html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color:#000;
}

li {
  list-style-type: none;
  display: inline-block;
}

img {
  width: 100%;
}

body {
  padding:0;
  margin:0;
  font-size: 100%;
  line-height: 1.5;
}

h1 {
  font-size: 130%;
}

h2 {
  font-size: 120%;
  margin:0;
}

h3 {
  font-size: 110%;
}

header h1 {
  float:left;
  width: 30%;
  line-height: 1.4;
  text-align: left;
  font-family: "Bevan", cursive;
}

header {
  padding: 1% 2%;
}

nav {
  width: 70%;
  float: right;
  text-align: right;
  line-height: 1.4;
  font-size: 120%;
  height: 50px;
}

nav ul li {
  padding: 1%;
  vertical-align: middle;
}

nav a {
  border: 3px solid #fff;
  padding: 1% 5%;
  background-color: #fff;
}

nav a:hover {
  background-color: #fffffe;
  border: 3px solid #000;
}

#home-image {
  background:url("../images/placeholder-500.svg") top no-repeat;
  background-size: cover;
  padding-top:8%;
  width: 100%;
  height:500px;
  text-align: center;
}

#home-image h2 {
  color: #000;
  font-size: 400%;
  margin-bottom: 2.5%;
  font-family: "Bevan", cursive;
}

#home-image p {
  margin: 0;
  font-size: 200%;
  padding-bottom: 5%;
}

#home-image a {
  background-color: #fff;
  font-weight: bold;
  padding: 1%;
}

#home-image a:hover {
  background-color: #000;
  color: #fff;
}

.clear-fix {
  clear:both;
}

.wrapper {
  padding: 0 2%;
  max-width: 1440px;
  width: 100%;
}

#caption {
  text-align: center;
  padding: 2% 0;
  font-size: 120%;
}

.special-item {
  text-align: center;
  display: table-cell;
  width: 25%;
  padding: 0 15px;
}

.special-item p {
  text-align: left;
}

#specials {
  width: 100%;
  display: inline-table;
  table-layout: fixed;
  padding-bottom: 5%;
}

#specials p {
  width: 100%;
  margin: 1%;
}

#specials img {
  width: 100%;
  height: 200px;
}

#specials h4 {
  margin: 0;
  padding-top: 2%;
}

section {
  width:100%;
  padding-bottom: 5%;
}

section img,
section .content {
  width:49%;
  height:200px;
}

.right img {
  float:right;
}

.right .content {
  padding-right:15px;
}

.left img {
  float:left;
}

.left .content {
  float:right;
}

section::after {
  content: " ";
  clear:both;
}

.social-media {
  padding: 50px 0;

}

.social-icons img {
  height: 35px;
  margin: .5em .25em;
  width: 35px;
}

.social-icons {
  height: 50px;
}

#fb {
  vertical-align: baseline;
  display: inline;
}

footer {
  padding: 0 2%;
  text-align: center;
}
