html {
  box-sizing: border-box;
}



*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color:#000;
}

li {
  list-style-type: none;
  display: inline-block;
}

img {
  width: 100%;
}
body {
  padding:0;
  margin:0;
  font-size: 100%;
}

h1 {
  font-size: 130%;
}

h2 {
  font-size: 120%;
}

h3 {
  font-size: 110%;
}

#home-image {
  background:url(../images/svg+xml+16x9edit.svg);
  background-size: cover;
  -webkit-background-size: 100%;
  width: 100%;
  height:500px;
  text-align: center;
}

#home-image h2 {
  padding-top: 10%;
  color: #000;
  font-size: 400%;
  margin-bottom: 2.5%;
  font-family: 'Bevan', cursive;
}

#home-image p {
  margin: 0;
  font-size: 200%;
  padding-bottom: 5%;
}

#home-image a {
  background-color: #fff;
  font-weight: bold;
  padding: 1%;
}

#home-image a:hover {
  background-color: #000;
  color: #fff;
}

nav {
  width: 70%;
  float: right;
  text-align: right;
  line-height: 25px;
}

nav ul li {
  padding: 1%;
  vertical-align: middle;
}

.clear-fix {
  clear:both;
}

header h1 {
  float:left;
  width: 30%;
  line-height: 25px;
  text-align: left;
  font-family: 'Bevan', cursive;}

header {
  height: 25px;
  padding: 0 2%;
}

nav a:hover {
  text-decoration: underline;
  color: #0000ff;
}
