/* Base */

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  display: block;
  position: relative;
}

*, *::before, *::after {
  box-sizing: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color:#000;
}

li {
  list-style-type: none;
  display: inline-block;
}

img {
  width: 100%;
}

body {
  padding:0;
  margin:0;
  font-size: 100%;
  line-height: 1.5;
}

h1 {
  font-size: 130%;
}

h2 {
  font-size: 120%;
  margin:0;
}

h3 {
  font-size: 110%;
}

/* HEADER BAR */

header h1 {
  font-size: 250%;
  width: 30%;
  line-height: 1.4;
  text-align: left;
  font-family: "Bevan", cursive;
  display:inline-block;
  margin: auto;
}

header {
  padding: 1% 2%;
}

/* NAVIGATION */

nav {
  margin-top: 5px;
  width: 70%;
  float: right;
  text-align: right;
  line-height: 1.4;
}

nav a {
  border: 3px solid #fff;
  background-color: #fff;
  padding: 0 10px;
  margin: 0 10px;
}

nav a:hover {
  background-color: #fffffe;
  border: 3px solid #000;
}

/* BANNER */

.banner {
  position: relative;
  display: block;
  width: 100%;
}

.banner-text {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.banner-text h2 {
  font-size: 400%;
  font-family: "Bevan", cursive;
}

.banner-text p, a {
  font-size: 200%;
}

.banner-text a {
  background-color: #fff;
  font-weight: bold;
  line-height: 340%;
  padding: 20px;
}

.banner-text a:hover {
  background-color: #000;
  color: #fff;
}

.img-flex {
  display: block;
  width: 100%;
}

.clear-fix {
  clear:both;
}

.wrapper {
  padding: 0 2%;
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

#caption {
  text-align: center;
  padding: 2% 0;
  font-size: 120%;
}

.special-item {
  text-align: center;
  display: table-cell;
  width: 25%;
  padding: 0 15px;
}

.special-item p {
  text-align: left;
}

#specials {
  width: 100%;
  display: inline-table;
  table-layout: fixed;
  padding-bottom: 5%;
}

#specials p {
  width: 100%;
  margin: 1%;
}

#specials img {
  width: 100%;
  height: 200px;
}

#specials h4 {
  margin: 0;
  padding-top: 2%;
}

section {
  width:100%;
  padding-bottom: 5%;
}

section img,
section .content {
  width:49%;
  height:200px;
}

.right img {
  float:right;
}

.right .content {
  padding-right:15px;
}

.left img {
  float:left;
}

.left .content {
  float:right;
}

.social-media {
  padding: 50px 0;

}

.social-icons img {
  height: 35px;
  margin: .5em .25em;
  width: 35px;
}

.social-icons {
  height: 50px;
}

#fb {
  vertical-align: baseline;
  display: inline;
}

footer {
  padding: 0 2%;
  text-align: center;
}

.absolute {
  position: absolute;
}

.mobile {
  display:none;
  height:40px;
  float:right;
  text-align:right;
  width:40px;
  padding-top:2%;
}

.mobile img {
  height:40px;
}
/* mobile */
@media only screen and (min-width: 25em) {

  nav ul {
    display:none;
  }

  .mobile {
    display:block;
  }

  .special-item {
    display:block;
    width:100%;
    padding-bottom:5%;
  }

  section img {
    width:100%;
  }

  section .content {
    width:100%;
  }
}

/* small */
@media only screen and (min-width: 38em) {

  .special-item {
    text-align: center;
    display:inline-block;
    width: 50%;
  }

  .special-item:nth-child(n+3) {
    width:49%;
  }

  .special-item p {
    text-align: left;
  }

  section .content {
    height:auto;
  }

  section img {
    width:100%;
  }

  .left img,
  .right img {
    float:none;
    padding-bottom:2%;
  }
}

/* medium */
@media only screen and (min-width: 60em) {

  nav ul {
    display:block;
  }

  .mobile {
    display:none;
    display:block;
    width:50%;
    float:left;
    padding-bottom:5%;
  }

  .special-item {
    text-align: center;
    display: table-cell;
    width: 25%;
    padding: 0 15px;
  }

  .special-item p {
    text-align: left;
  }

  .special-item:nth-child(n+3) {
    width:25%;
  }

  section img,
  section .content {
    width:49%;
    height:200px;
  }

  .right img {
    float:right;
  }

  .right .content {
    padding-right:15px;
  }

  .left img {
    float:left;
  }

  .left .content {
    float:right;
  }
}

/* desktop */
@media only screen and (min-width: 90em) {

  nav ul {
    display:block;
  }

  .mobile {
    display:none;
  }

  .special-item {
    text-align: center;
    display: table-cell;
    width: 25%;
    padding: 0 15px;
  }

  .special-item p {
    text-align: left;
  }

  .special-item:nth-child(n+3) {
    width:25%;
  }

  section {
    width:100%;
    padding-bottom: 5%;
  }

  section img,
  section .content {
    width:49%;
    height:200px;
  }

  .right img {
    float:right;
  }

  .right .content {
    padding-right:15px;
  }

  .left img {
    float:left;
  }

  .left .content {
    float:right;
  }
}
